* {
  margin: 0;
  padding: 0;
}
#layout {
  font-family: Arial;
  font-size: 16px;
  padding: 20px;
}
#layout .controls {
  margin-bottom: 10px;
}
#layout .video-content.responsive {
  width: 100%;
}
#layout .video-content.responsive .video {
  width: 100%;
}
#layout .video-content.responsive .video video {
  width: 100%;
}
#layout .video-content.crop .video {
  height: 0;
  width: 100%;
  padding-bottom: 75%;
  overflow: hidden;
  background: #BBB;
}
#layout .video-content.crop .video video {
  position: absolute;
  height: 100%;
  width: 100%;
}
#layout .video {
  position: relative;
}
#layout .video video {
  position: absolute;
  top: 0;
  left: 0;
  background: #EEE;
}
select {
  opacity: .7;
}
select.selected {
  opacity: 1;
  outline-offset: -2px;
  outline: -webkit-focus-ring-color auto 5px;
}
label {
  margin-right: 20px;
}
