*{margin:0;padding:0;}

#layout{
    font-family: Arial;
    font-size:16px;
    padding:20px;

    .controls{
        margin-bottom:10px;
    }

    .video-content{
        display:inline-block;
    }

    .video{
        position:relative;

        video{
            position:absolute;
            top:0;
            left:0;
            background: #EEE;
        }
    }
}

select{
    width:100px;
}
label{
    margin-right:20px;
}