*{margin:0;padding:0;}

#layout{
    font-family: Arial;
    font-size:16px;
    padding:20px;

    .controls{
        margin-bottom:10px;
    }

    .video-content{
        .video{
            height:0;
            width:100%;
            overflow:hidden;
            background: #BBB;

            // since it's 4:3
            padding-bottom:75%;

            video{
                position:absolute;

                // initial sizes
                height:100%;
                width:100%;
            }
        }
    }

    .video{
        position:relative;

        video{
            position:absolute;
            top:0;
            left:0;
            background: #DDD;
        }
    }
}

label{
    margin-right:20px;
}